.loginBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loginContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid #e9e9e9;
    align-items: center;
    background-color: white;
    width: 80%;
    margin-top: 100px;

    .loginLogoSpace {
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        font-family: 'Lobster', cursive;
        font-size: 60px;
        transform: none;
        -webkit-transform: scale(1, 1.5);
      }
    }
    .loginBox {
      display: flex;
      flex-direction: column;

      input {
        border: 2px solid #f6f6f6;
        background-color: #fafafa;
        height: 40px;
        width: 350px;
        font-size: 14px;
        border-radius: 5px;
        padding-left: 10px;
        margin-bottom: 10px;
      }

      input::placeholder {
        color: #a9a9a9;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 10px;
        border: none;
        background-color: #3c648d;
        color: white;

        &:disabled {
          opacity: 0.5;
          color: white;
        }
      }
    }

    .loginFooter {
      height: 200px;
      width: 100%;
      position: relative;

      p {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      a {
        color: #3c648d;
        font-weight: 600;
      }
    }
  }
}
