//nara

/* Color */
$white-color: #ffffff;
$black-color: #030303;
$blue-color: #0095f6;
$blue-dark-color: #3b6088;
$grey-light-color: #fafafa;
$grey-color: #eaeaea;
$grey-dark-color: #909090;
$red-color: #ee4955;

/* Size */
$padding: 12px;
$avatar-size: 40px;
$avatar-small-size: 36px;

/* Font Size */
$font-large: 18px;
$font-medium: 14px;
$font-small: 12px;
$font-micro: 10px;

@mixin flexSort($justify, $alignItems) {
  display: flex;
  justify-content: $justify;
  align-items: $alignItems;
}

//team

@mixin display($flexDirection, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
