//feeds

.mainContainer {
  display: flex;
  justify-content: center;

  .mainBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding-top: 40px;
  }
}

.feedsContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  min-width: 400px;
  padding: 5px;

  .feedsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 40px;
    padding: 0 10px;
    gap: 10px;

    span {
      font-weight: 600;
    }

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 15px;
    }
  }

  .feedImage {
    width: 100%;
    height: 400px;
  }

  .reactionIcons {
    display: flex;
    margin: 5px 5px;
    justify-content: space-between;

    img {
      width: 24px;
      height: 24px;
    }

    .reactionIconsLeft {
      display: flex;
      gap: 10px;
    }
  }

  .howManyLikes {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 5px;
    gap: 5px;

    img {
      width: 20px;
      height: 20px;
      border: 1px solid gray;
      border-radius: 10px;
    }
  }

  .commentsBox {
    padding-left: 10px;
  }

  .comment {
    margin-bottom: 5px;
    max-width: 380px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;

    .commentId {
      font-weight: 700;
      margin-right: 10px;
    }

    .commentSaying {
      width: 250px;
      max-height: 1em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      height: 1em;
    }
    button {
      all: unset;
    }
  }

  .timePassed {
    color: gray;
    margin-top: 5px;
  }

  .commentInputBox {
    display: flex;
    padding: 12px;
    border-top: 1px solid #e6e6e6;

    input {
      all: unset;
      flex: 2;
    }

    button {
      all: unset;
      width: 10%;
      color: #cce4fc;
      text-align: center;
    }

    .commentInput {
      width: 90%;

      ::placeholder {
        color: gray;
      }
    }
  }
}

// main right

.mainRightContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  min-width: 350px;
  max-width: 400px;
  padding: 10px;
  gap: 20px;

  .mainRightProfile {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      border-radius: 30px;
      object-fit: cover;
    }
  }
  .mainRightUserInfo {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    span:nth-child(1) {
      font-weight: 700;
    }

    span:nth-child(2) {
      color: #afafaf;
    }
  }

  .story {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #e6e6e6;
    padding: 10px;

    .storyUploadUsersWrap {
      max-height: 300px;
      overflow-y: scroll;
    }
  }
}

.boxTitle {
  display: flex;
  justify-content: space-between;
  padding: 8px;

  span:nth-child(1) {
    color: gray;
  }

  span:nth-child(2) {
    font-weight: 600;
    color: black;
  }
}

.recommend {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #e6e6e6;
  padding: 10px;

  .recommendedUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .recommendedUserLeft {
      display: flex;
    }

    .recommendedUserImg {
      width: 36px;
      height: 36px;
      border-radius: 18px;
      object-fit: cover;
    }

    .recommendedUserInfo {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      margin-left: 10px;

      span:nth-child(1) {
        font-weight: 900;
      }

      span:nth-child(2) {
        color: #afafaf;
      }
    }

    .recommendedUserFollow {
      color: #3798f0;
      font-weight: 600;
      margin-right: 10px;
    }
  }
}

.mainRightFooter {
  padding: 10px;
  color: lightgray;
  line-height: 160%;
  font-size: 14px;
}

// navi bar

.naviBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 8%;
  border-bottom: 1px solid lightgray;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;

  .navLeft {
    display: flex;
    align-items: center;
    gap: 5px;

    span {
      font-family: 'Lobster', cursive;
      font-size: 16px;
      font-weight: 900;
      transform: none;
      -webkit-transform: scale(1, 1.5);
    }
  }

  .navInput {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    width: 100%;
    height: 24px;
    padding-left: 10px;
    display: flex;
    position: relative;
    width: 33%;
    align-items: center;

    &::placeholder {
      text-align: center;
    }
  }
}

.navRight {
  display: flex;
  gap: 14px;

  .profileImg {
    width: 24px;
    height: 24px;
    border-radius: 12px;
  }
}

.icon {
  width: 24px;
  height: 24px;
}

// story Upload user

.storyUploadUserContainer {
  display: flex;
  align-items: center;
  padding: 10px;

  .storyUploadUserImg {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    object-fit: cover;
  }

  .storyUploadUserInfo {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-left: 10px;

    span:nth-child(1) {
      font-weight: 900;
    }
    span:nth-child(2) {
      color: #afafaf;
    }
  }
}
