@import '../../../styles/variables.scss';
@import './feeds.scss';

button {
  background-color: $white-color;
  border-style: none;
}

input {
  outline: none;
}

.title {
  font-family: 'Lobster', cursive;
}

.user_img {
  width: $avatar-small-size;
  height: $avatar-small-size;
  margin-right: $padding;
  border: 1px solid $grey-color;
  border-radius: 50%;
}

.user_name {
  font-weight: bold;
}

.comment_style {
  margin-left: $padding;
  font-size: $font-medium;
}

.main {
  @include flexSort(space-around, flex-start);
  padding: calc($padding * 10) calc($padding * 23);
  background-color: $grey-light-color;
  font-size: $font-medium;

  .main_right {
    &_title {
      @include flexSort(flex-start, center);
      margin-bottom: calc($padding * 2);
    }

    p {
      color: $grey-dark-color;
      font-size: $font-small;
      font-weight: bold;
    }
    button {
      color: $blue-color;
      font-weight: bold;
    }

    &_story {
      height: 245px;
      margin-bottom: calc($padding * 3);
      padding-left: $padding;
      background-color: $white-color;
      border: 2px solid $grey-color;
      border-radius: 5px;

      .story_title {
        @include flexSort(space-between, flex-start);
        padding: $padding;
      }

      .story_user {
        @include flexSort(flex-start, center);
        padding: calc($padding/2) $padding;
      }
    }
    &_recommend {
      padding-left: $padding;
      height: 200px;
      background-color: $white-color;
      border: 2px solid $grey-color;
      border-radius: 5px;

      .recommend_title {
        @include flexSort(space-between, flex-start);
        padding: $padding;
      }
    }

    .recommend_user {
      @include flexSort(space-between, center);
      padding: calc($padding/2) $padding;
      margin: 0;
    }
  }
}
